#header,
.module h2, .module caption, .inline-group h2 {
    background-color: #f8f9fa;
    color: #212529;

    border-bottom: 1.5px solid #dbdcdd;
}

#branding h1, #branding h1 a:link, #branding h1 a:visited,
#header a:link, #header a,
#header a:link, #header a:visited,
a.section:link, a.section,
a.section:link, a.section:visited {
    color: #212529;
}

a:link, a:visited {
    color: #666;
}

a:hover {
    color: #212529;
    text-decoration: underline;
}

div.breadcrumbs {
    background-color: #d6d8db;
    color: #212529;
}

div.breadcrumbs a {
    color: #30363b;
}

div.breadcrumbs a:hover {
    color: #212529;
}

.button.default, input[type=submit].default, .submit-row input.default,
.button, input[type=submit], input[type=button], .submit-row input, a.button {
    background-color: #6c757d;
}

.button:active, input[type=submit]:active, input[type=button]:active,
.button:focus, input[type=submit]:focus, input[type=button]:focus,
.button:hover, input[type=submit]:hover, input[type=button]:hover,
.button.default:active, input[type=submit].default:active,
.button.default:focus, input[type=submit].default:focus,
.button.default:hover, input[type=submit].default:hover {
    background-color: #383d41;
}
