
.form_block {
    width: 80%;
}

.form_label {
    font-size: 18px;
    /* margin-top: 6px; */
}

.form_input_shadow:focus {
    border-color: #5d5d5e;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(81, 89, 97, 0.25)
}

#id_captcha_1:focus{
    border: 1px solid #5d5d5e;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(81, 89, 97, 0.25)
}

.page-style {
    color: #444648;
}

.page-style:hover {
    color: #FFFFFF;
    background: #575a5c;
}

.page-style:focus {
    color: #FFFFFF;
    box-shadow: 0 0 0 .01rem rgb(0, 0, 0);
    background: #575a5c;

}

.page-active {
    color: #FFFFFF;
    background: #393a3b;

}

.header-button {
    margin-left: 5px;
}

.header-button:hover {
    color: #FFFFFF;
}

.registration-content-center {
    margin: 0 auto;
    width: 60%;
}

.messages{
    margin-top: 15px;
}


