{% extends "application_articles/sections.html" %}
{% block title %} Авторизация {% endblock %}
{% block content %}
    <div mt-3 block-form>
        <div class="form_block card text-left mb-3 mt-3 registration-content-center">
            <div class="card-header">
                <h3 class="mb-3 text-center ">Форма авторизации</h3>
            </div>
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <div class="card-body">
                        {% for element in form %}
                        <p>
                            <label class="form_label" for="{{ element.id_for_label }}">{{ element.label }}</label>
                            {{ element }}
                            {{ element.errors }}
                        </p>
                        {% endfor %}
                    </div>
                    <div class="card-footer text-muted">
                        <button type="submit" class="btn btn-secondary btn-lg btn-block ">Вход</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}